body{
    background-color: darkslategray;
}

h1{
    color: white;
    text-align: center;
}

table{
    width: 640px;
    margin: auto;
    background-image: url(./hatter.jpg);
}

td{
    padding: 5px;
    margin: 5px;
}

.nagyobb{
    font-size: larger;
}

#kep1, #kep2{
    border: 1px solid black;
}